@import "node_modules/ol/ol.css";

/* html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
} */
body {
  margin: 0;
  padding: 0;
}
.accueil, .destination, .organisation, .decouvrir {
  /* margin: 0; */
  /* padding: 0; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* min-height: 100vh; */
}
.accueil {
  background-image: url('images/montagne.webp');
}
.destination {
  background-image: url('images/aleksejs.webp');
}
.organisation {
  background-image: url('images/johannes.webp');
}
.decouvrir {
  background-image: url('images/aleksandar.webp');
}
.navbar {
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 15px;
  margin: 20px;
}
.navbar .nav-item {
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
}
.navbar .nav-content {
  height: 90px;
  display: flex;
  background-color: #FEEAEA;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-content {
  border: 1px solid black;
}
.navbar .nav-link {
  color: #9B055F;
  font-size: 24px;
}
.navbar .nav-subtext {
  font-size: 12px;
}
.img1 {
  top: 150px;
  left: 20px;
}
.img2 {
  top: 150px;
  right: 20px;
}
.img3 {
  bottom: 150px;
  left: 20px;
}
.img4 {
  bottom: 150px;
  right: 20px;
}
.footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  border-radius: 15px;
  background-color: rgba(217, 217, 217, 0.5);
  height: 100px;
  padding: 0 5%;
}
.btn-footer {
  background-color: #FEEAEA;
  border-radius: 20px;
  height: 80px;
}
@media (max-width: 991px) {
  .depart {
    height: 30rem;
  }
  .carte {
    height: 30rem;
    margin-top: 1rem;
  }
  .trajet {
    height: 10rem;
    margin-bottom: 1rem;
  }
  .arrivee {
    height: 30rem;
    margin-bottom: 5rem;
  }
}
 @media (max-width: 767px) {
  .img1, .img2, .img3, .img4 {
    display: none;
  }
  .footer {
    padding: 0;
  }
  #footer-container .btn-footer {
    width: calc(33.33% - 6px);
    max-width: none;
  margin: 0; 
  }
  .custom-main {
    margin-top: 6rem;
    height: 98rem;
  }
  .arrivee {
    margin-bottom: 1rem;
  }
  .btn-calcul {
    font-size: 16px !important;
  }
}
.custom-main {
  margin: 7.5% 30px;
}
.style-main {
  background-color: rgba(195, 241, 213, 0.9); /* #C3F1D5 avec 90% d'opacité */
  border-radius: 25px;
  border: 1px solid black;
  /* height: 100%; */
  padding: 20px;
}
.depart, .arrivee {
  border-radius: 15px;
  border: 1px solid black;
  padding: 40px; /* Ajout de padding à l'intérieur des divs */
}
.carte {
  height: 55vh;
  border-radius: 15px;
  border: 1px solid black;
}
.trajet {
  /* height: 10vh; */
  margin: 20px 0;
  border-radius: 15px;
  border: 1px solid black;
}
.trajet button {
  height: 4rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.trajet button:hover {
  background-color: yellow;
  color: black;
}
.map {
  height: 45vh;
  width: 95%;
  border: 1px solid black;
}
.custom-color {
  color: #9B055F;
}
